.input-group{
	margin-top: 50px;
}

.btn{
	margin-top: 50px;
	float: right;
}
.show{
	display: block;
}
.hide{
	display: none;
}
.empty_field {
  border: 2px solid red;
}
.badge{
	float: right;
}
.btn[disabled]{
	opacity: 0.3;

}
