@import 'task1_vars.scss';

// Colors
$color-font  : #ffffff;
$color-success : #32CD32;
$color-inform : #00BFFF;
$color-ops   : #ff0000 ;
$color-custom : #ffffff;
$color-warn    : #FF8C00;
$color-hover: black;

//Height
$size_button: (
height-iddle: 100px,
height-small: 50px,
height-big: 200px,
);

$colors_button: (
 success        : $color-success,
 error          : $color-custom,
 warning        : $color-warn,
 info           : $color-inform,
 def		      	: $color-ops
);


  @each $class, $color in $colors_button {
  	.button-#{$class} {
  		background: $color;
  	}
}

    @for $i from 1 through 5{
        	.buttons button:nth-child(#{$i}){
          height: map-get($size_button, height-small);
        }
      }

    @for $i from 6 through 10{
        .buttons button:nth-child(#{$i}){
         height: map-get($size_button, height-iddle);
      }
    }
    @for $i from 11 through 15{
            .buttons button:nth-child(#{$i}){
         height: map-get($size_button, height-big);
        }
      }
