* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: auto;
    box-sizing: border-box;
    background: black;
}

.container {
    box-sizing: border-box;
    width: 60%;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    background-color: #1c1d1e;
    padding: 10% 20%;
}

svg:hover .cross{
	stroke: red;
}

.line1{
	transform-origin: 50px 60px;
}

.line3{
	transform-origin: 50px 140px;
}

svg:hover .line1{
	transform: translateY(5%);
	transform: rotate(45deg);
	transition: all 1s ease-in-out;
}

svg:hover .line2{
    opacity: 0;
}

svg:hover .line3{
	transform: rotate(-45deg);
	transition: all 1s ease-in-out;
	transform: translateY(-5%) rotate(-45deg);
}
/*
Эффект дрожания - неоюходимо доработать

@keyframes trambl {
   0% {
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
   }
   5%{
     transform: rotate(-3deg);
     -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
   }
   10% {
     transform: rotate(3deg);
     -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
     -o-transform: rotate(3deg);
     -ms-transform: rotate(3deg);
 }

    15% {
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
   }
  20% {
     transform: rotate(-3deg);
     -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
   }
30% {
     transform: rotate(3deg);
     -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
     -o-transform: rotate(3deg);
     -ms-transform: rotate(3deg);
 }

40% {
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
   }
   50% {
     transform: rotate(-3deg);
     -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
   }
60% {
     transform: rotate(3deg);
     -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
     -o-transform: rotate(3deg);
     -ms-transform: rotate(3deg);
   }
   70% {
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
   }
   80% {
     transform: rotate(-3deg);
     -webkit-transform: rotate(-3deg);
     -moz-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
     -ms-transform: rotate(-3deg);
   }
90% {
     transform: rotate(3deg);
     -webkit-transform: rotate(3deg);
     -moz-transform: rotate(3deg);
     -o-transform: rotate(3deg);
     -ms-transform: rotate(3deg);
   }
    100% {
     transform: rotate(0deg);
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
   }

}*/